<form #formdata = "ngForm" id="formContent" (ngSubmit)="onSubmit(formdata)" novalidate>
  <input [(ngModel)]="reserva" type="text" placeholder="Reserva" name="something1"/>
  <input [(ngModel)]="fecha" type="text" placeholder="Fecha" name="something2"/>
  <input [(ngModel)]="pais" type="text" placeholder="Pais" name="something3"/>
  <input [(ngModel)]="tipoDoc" type="text" placeholder="Tipo de documento" name="something4"/>
  <input [(ngModel)]="numeroDoc" type="text" placeholder="Numero de documento" name="something5"/>
  <input [(ngModel)]="tipoPersona" type="text" placeholder="Tipo de persona" name="something6"/>
  <input [(ngModel)]="razon" type="text" placeholder="Razon social" name="something7"/>
  <input [(ngModel)]="nombres" type="text" placeholder="Nombres" name="something8"/>
  <input [(ngModel)]="apellidos" type="text" placeholder="Apellidos" name="something9"/>
  <input [(ngModel)]="correo" type="text" placeholder="Correo" name="something10"/>
  <input [(ngModel)]="direccion" type="text" placeholder="Dirección" name="something11"/>
  <!-- <button type="submit">Enviar</button> -->
  <input id="submitButton" type="submit" placeholder="Enviar" />
</form>
